.root {
  display: flex;
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.gap1 {
  gap: var(--qh-space-1);
}
.gap2 {
  gap: var(--qh-space-2);
}
.gap3 {
  gap: var(--qh-space-3);
}
.gap4 {
  gap: var(--qh-space-4);
}
.gap6 {
  gap: var(--qh-space-6);
}
.gap8 {
  gap: var(--qh-space-8);
}
.alignStart {
  align-items: flex-start;
}
.alignCenter {
  align-items: center;
}
.alignEnd {
  align-items: flex-end;
}
.alignStretch {
  align-items: stretch;
}
.justifyStart {
  justify-content: flex-start;
}
.justifyCenter {
  justify-content: center;
}
.justifyEnd {
  justify-content: flex-end;
}
.justifyBetween {
  justify-content: space-between;
}
